/* Theme */

:root {
  --back: white;
  --text: black;
  --link: #0078d4;
  --border: #ccc;
  --highlight: rgb(253, 250, 239);
  --code: #eee;

  --margin: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --back: black;
    --text: white;
    --link: #00a8e8;
    --border: #333;
    --highlight: rgb(33, 33, 33);
    --code: #333;
  }
}

@media (max-width: 700px){
  body {
    --margin: 2rem;
  }
}

/* Page layout */

html {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  margin: 0;
}

body {
  margin: var(--margin);
  background: var(--back);
  color: var(--text);
}

main, footer {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  margin: var(--margin) 0;
  font-weight: normal;
  background-image: url(edge-logo.png);
  background-repeat: no-repeat;
  background-position: left .5rem;
  background-size: 2rem;
  padding-inline-start: 3rem;
}

body > p {
  margin: 1rem 0;
  line-height: 1.5;
}

a {
  color: var(--link);
}

/* Footer */

footer {
  font-size: smaller;
  margin-block-start: var(--margin);
  border-block-start: 1px solid var(--border);
  padding: var(--margin) 2rem 0 2rem;
  line-height: 1.5;
}

/* Chart styles */

.main-chart {
  margin: var(--margin) 0;
}

.chart-info {
  text-align: center;
  font-size: smaller;
}

/* List of features */

.features {
  margin: 2rem 0;
  padding: 0;
  display: grid;
}

/* Feature style */

.feature {
  list-style-type: none;
  margin: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 22rem;
  border-block-start: 1px solid var(--border);
  padding: 2rem 0.5rem;
}

.feature h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  word-break: break-all;
}

.feature h2 a {
  color: var(--text);
  text-decoration: none;
}

.feature h2 a::after {
  content: "#";
  font-size: smaller;
  margin-inline-start: .25rem;
  color: transparent;
}

.feature h2 a:hover::after {
  color: var(--text);
}

.feature .description {
  grid-column: 1;
  margin: 0;
}

.feature .metadata {
  display: flex;
  column-gap: 1rem;
  align-items: baseline;
  align-self: end;
  flex-wrap: wrap;
}

.feature .metadata a {
  font-size: smaller;
}

.feature .support {
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-self: end;
}

.feature details {
	grid-column: span 2;
	background: var(--highlight);
	border-radius: .25rem;
	padding: 1rem;
}

@media (max-width: 1000px) {
  .feature {
    grid-template-columns: 1fr;
  }

  .feature .support {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
  }

  .feature details {
    grid-column: 1;
  }
}

.feature .rationale,
.feature .chart {
  padding-inline-start: 1rem;
}

.feature .rationale li {
  margin: 1rem 0;
  list-style: none;
}

.feature details summary {
  cursor: pointer;
}

.feature .chart {
  grid-column: span 2;
}

/* Support table */

.support {
  font-size: small;
}

.support table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.support thead th {
  width: 2rem;
}

.support td, .support th {
  border: 1px solid var(--border);
  padding: .25rem .5rem;
  font-weight: normal;
}

.support .browsers, .support td {
  text-align: center;
}

.support .browsers abbr span {
  display: none;
}

.support .browsers abbr {
  display: inline-block;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  width: 1rem;
  height: 1rem;
  background-color: var(--text);
  opacity: .6;
}

.support .browsers .firefox abbr {
  -webkit-mask-image: url(firefox.svg);
  mask-image: url(firefox.svg);
}

.support .browsers .edge abbr {
  -webkit-mask-image: url(edge.svg);
  mask-image: url(edge.svg);
}

.support .browsers .chrome abbr {
  -webkit-mask-image: url(chrome.svg);
  mask-image: url(chrome.svg);
}

.support .browsers .safari abbr {
  -webkit-mask-image: url(safari.svg);
  mask-image: url(safari.svg);
}

.support .support-icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2rem;
}

.support .support-icon.no {
  color: #d30038;
}

.support .support-icon.yes {
  color: #007936;
}

.support .support-icon::before {
  content: "";
  display: inline-block;
  width: .6rem;
  height: .6rem;
  flex-shrink: 0;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.support .support-icon.no::before {
  -webkit-mask-image: url(support-no.svg);
  mask-image: url(support-no.svg);
  background-color: #d30038;
}

.support .support-icon.yes::before {
  -webkit-mask-image: url(support-yes.svg);
  mask-image: url(support-yes.svg);
  background-color: #007936;
}

/* Code snippets */

code {
  word-break: break-all;
  background: var(--code);
  padding: .125rem .25rem;
  border-radius: .125rem;
}
